.dialog-container {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    background-color: white;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    padding-bottom: 15px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.dialog-header__title {
    font-weight: bold;
    font-size: 20px;
}

.dialog-header__icon--close {
    background-image: url("../../assets/icon/x.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dialog-description {
    font-size: 14px;
    padding-bottom: 15px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.dialog-footer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-top: 1px solid rgb(179, 167, 167);
    padding-top: 15px;
}

.popup-content__form #textfield__input::placeholder {
    font-size: 14px;
}

.dialog-icon {
    flex-shrink: 0;
}

.dialog-container.warning .dialog-icon {
    background: url("../../assets//icon/Sprites.64af8f61.svg") no-repeat -598px -463px;
	width: 36px;
	height: 37px;

}

.dialog-container.info .dialog-icon {
    background: url('../../assets//icon/Sprites.64af8f61.svg') no-repeat -832px -462px;
	width: 36px;
	height: 36px;
}

.dialog-container.error .dialog-icon {
    background: url('../../assets//icon/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}

