.dropdownlist {
    position: relative;
    width: 100%;
}



.dropdownlist[required] .textfield__label::after{
    content: "*";
    color: red;
    font-weight: bold;
    margin-left: 3px;
}

.dropdownlist[error] .textfield__input-wrapper{
    border: 1px solid red;
}

.dropdownlist .textfield__input{
    background-image: url("../../assets/icon/arrow-down-black.svg");
    background-size: 16px;
    background-position: right 0px center;
    background-repeat: no-repeat;
    pointer-events: none;
    user-select: none;
}


.dropdown-menu-wrapper {
    padding: 8px;
    background-color: white;
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 4px;
    z-index: 5;
    box-shadow: 0px 4px 16px rgba(23,27,42,0.24);
}

.dropdown-menu {

    max-height: 200px;
    overflow-y: auto;

}

.dropdown-items {
    height: 36px;
    padding: 8px;
    display: flex;
    align-items: center;
}



.dropdown-items:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination .dropdown-items--selected {
    background-color: #2CA01C;
    color: white;
}



.dropdown-items:hover {
    background-color: rgba(80,184,60,0.1);
    cursor: pointer;
}

.dropdown-items--hovering {
    background-color: rgba(80,184,60,0.1);
    cursor: pointer;
}

.dropdown-items--selected {
    background-color: #2CA01C;
    color: white;
}

.dropdown-items--selected:hover{
    background-color: #2CA01C;

}

.table-content__footer .dropdownlist {
    width: 100px;
}

.table-content__footer .dropdownlist .textfield__input {
    width: 100%;
}

.table-content__footer .dropdown-menu-wrapper {
    top: auto;
   bottom: 100%;
}