#shower {
    position: relative;
}

.filter-container {
    position: relative;
}

.filter__button-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 14px;
    min-height: 14px;
}

.filter-container:hover .filter__button {
    display: block;
}

.filter__button {
    display: none;
    padding: 3px;
    cursor: pointer;
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -1688px -565px;
	width: 14px;
	height: 14px;
}



.filter__dialog {
    background-color: white;
    position: absolute;
    box-shadow: 3px 3px 6px #ddd;
    border: 1px solid #babec5;
    padding: 22px 17px;
    border-radius: 2px;
    font-family: Notosans Regular;
    font-weight: 500;
    text-transform: none;
    font-size: 13px;
    width: 350px;
    z-index: 9999
}



.filter__dialog-header {
    padding-left: 30px;
    line-height: 24px;
    cursor: pointer;
    border-bottom: 1px solid #ebedf0;
    padding-bottom: 14px;
    margin-bottom: 14px;
    position: relative;
}

.filter__dialog-header::before {
    content: "";
    position: absolute;
    display: block;
    height: 24px;
    width: 24px;
    top: 0;
    left: 2px;
    background: transparent url("../../assets//icon/Sprites.64af8f61.svg") no-repeat -1726px -560px;
}

.filter__dialog-body {
    display: flex;
    justify-content: space-between;

}

.filter__type-button {
    position: relative;
    color: #0075c0;
    padding-right: 20px;
    font-weight: 600;
    cursor: pointer;
}

.filter__type-button::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 13px;
    background: transparent url("../../assets//icon/Sprites.64af8f61.svg") no-repeat -178px -363px;
    top: 4px;
    right: 2px;
}

.filter__type-list {
    position: absolute;
    box-shadow: 3px 3px 6px #ddd;
    border: 1px solid #babec5;
    background-color: white;
    color: black;
    font-weight: 400;
    right: 0;
}

.filter__type-list > div {
    padding: 5px 10px;
    transition: 0.5s;
    white-space: nowrap;
}

.filter__type-list > div:hover {
    color: #2ca01c;
    background-color: #e8e9ec;
}



.filter__input {
    width: 100%;
    outline: none;
    height: 26px;
    border: 1px solid #babec5;
    padding: 0 12px 0 10px;
    font-size: 13px;
    margin-top: 20px;
}

.filter__input::placeholder {
    font-style: italic;
}

.filter__input:disabled {
    background-color: rgb(238, 234, 234);
    color: black;
}

.filter__button-group {
    display: flex;
    justify-content: space-between;
}

.filter__button-group .button {
    min-width: auto;
    width: 55px;
    height: 26px;
    padding: 6px 16px;
    font-weight: bold;
    margin-top: 16px;
    white-space: nowrap;
}

.filter__button-group .button--secondary {
    width: 70px;
}

.selected__filter-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.remove-filter-btn {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-position: -80px -312px;
}

.remove-all-filter-btn {
    cursor: pointer;
}

.filter__quote, .remove-all-filter-btn {
    color: #0075c0;
    white-space: nowrap;
}

.table__feature-filter-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter__dialog .textfield__input-wrapper{
    min-width: 200px;
    padding-right: 5px;
    border-radius: 0;
    height: 26px;
    min-height: auto;
    font-size: 13px;
    margin-top: 5px;
    border: 1px solid #babec5;
}

.filter__dialog .dropdown-menu-wrapper {
    padding: 2px 0;
    margin-top: 3px;
    border: 1px solid #babec5;
    border-radius: 2px;
    box-shadow: 0 -8px 34px 0 rgba(0,0,0,.05);
}

.filter__dialog .dropdown-items {
    padding: 0 14px 0 10px;
    height: auto;
    line-height: 28px;
}

.filter__dialog .dropdown-items:hover {
    background-color: #2CA01C;
    color: white;
    border-radius: 0;
}