/*Base style */

.textfield {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textfield__label {
    font-size: 14px;
    color: #1F1F1F;
    padding-bottom: 8px;
    display: inline-block;
    flex-grow: 0;
}

.textfield__input-wrapper {
    padding: 0 12px;
    border: 1px solid #a6a6a6;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    min-height: 32px;
    height: 36px;
    max-height: 40px;
    width: 100%;
    position: relative;
}

.textfield__input {
    outline: none;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    flex-grow: 1;
}

.textfield__input::placeholder {
    color: #9E9E9E;
    font-weight: 400;
}

/* .textfield__input-wrapper:hover .textfield__input, .textfield__input-wrapper:hover {
    background-color: #F6F6F6;
}  */

.textfield__input-wrapper:focus-within{
    border-color: #50B83C;
    background-color: white;
} 

.textfield__input-wrapper:focus-within .textfield__input {
    background-color: white;
}

.textfield[readonly] .textfield__input-wrapper, .textfield[readonly] .textfield__input {
    background-color: #EBEBEB;
    border-color: #E0E0E0;
    pointer-events: none;
}

.textfield[readonly] .textfield__input::placeholder {
    color: #666666;
}

.textfield[error] .textfield__input-wrapper {
    border-color: #E61D1D;
}

.textfield__error-message {
    color: #E61D1D;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
}

#textfield__input-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    flex-shrink: 0;
}

.textfield--validate .textfield__input-wrapper, .textfield--verifying .textfield__input-wrapper{
    border-color: #50B83C;
}

#textfield__status-icon {
    margin-right: 8px;
}

.input-search {
    background-image: url("../../assets/icon/search.png");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

.input-chevron-down {
    background-image: url("../../assets/icon/arrow-down-black.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 24px;
    padding-left: 16px;
}

.textfield__input-radio {
    border: none;
    padding-left: 0;
}

.textfield__input-radio:hover {
    background: transparent;
}

.user-dialog__column {
    flex-grow: 1;
}

/* Table custom style */
.table__feature-container .textfield {
    width: 300px;
}

.table__feature-container .textfield__input-wrapper {
    background-image: url("../../assets/icon/search.png");
    background-position: right 12px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding-right: 36px;
}

.radio-group {
    display: flex;
    gap: 4px;
}

.radio-items {
    display: flex;
    align-items: center;
}

.textfield[required=true] .textfield__label::after {
    content: "*";
    color: red;
    font-weight: bold;
    margin-left: 3px;
};