.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    font-family: Notosans Regular;
    text-align: center;
    top: 20px;
    left: 40%;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
    background-color: #505050;
    padding: 3px 10px;
    border-radius: 2px;
    z-index: 10000;
    white-space: nowrap;
    font-weight: 500;
    color: white;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}



