.table__feature-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: white;
}

.table__feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.table__refresh-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -1098px -90px;
    width: 20px;
	height: 21px;
    cursor: pointer;
}

.table__excel-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -1265px -90px;
	width: 23px;
	height: 20px;
    cursor: pointer;
}

.table__setting-icon  {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -676px -30px;
	width: 23px;
	height: 24px;
    cursor: pointer;
}

.table-content-wrapper {
    overflow: auto;
    height: 650px;
    background-color: white;
}

.table-content {
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;

}

.table-content__header {
    background-color: #eceef1;

    z-index: 2;
}

.table-content__header th {
    font-family: Notosans Bold;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #eceef1;
    z-index: 3;
}

.table-content__body {
    background-color: white;
}

.table-content__body tr td{
    background-color: white;
}

.table-content__body tr:hover td{
    background-color: #F2F9FF;
}

.table-content__body tr {
    white-space: nowrap;
    font-family: Notosans Regular;
    font-weight: 400;
    height: 30px;
}



.table-content__body td:not(:last-child), .table-content__header th:not(:last-child){
    padding: 0 16px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}

.table-content__body td:last-child, .table-content__header th:last-child{
    padding: 0 16px;
    border-left: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

 .table-content__header tr{
    height: 32px;
}

.table__header-id {
    min-width: 180px;
}

.table__header-name {
    min-width: 434px;
}

.table__header-sex {
    min-width: 120px;
}

.table__header-dob {
    min-width: 140px;
}

.table__header-identityNumber {
    min-width: 200px;
}

.table__header-identityDate{
    min-width: 150px;
}

.table__header-identityPlace{
    min-width: 150px;
}

.table__header-title {
    min-width: 241px;
}

.table__header-unit {
    min-width: 189px;
}

.table__header-unit-code {
    min-width: 150px;
}

.table__header-address{
    min-width: 200px;
}

.table__header-phone{
    min-width: 150px;
}

.table__header-landline{
    min-width: 150px;
}

.table__header-email{
    min-width: 200px;
}

.table__header-account {
    width: 150px;
}

.table__header-bankname {
    width: 150px;
}

.table__header-bankbranch {
    width: 300px;
}

.table__header-feature {
    width: 150px;
}

.align--center {
    text-align: center;
}

.align--left {
    text-align: left;
}

.align--right {
    text-align: right;
}

.table-content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: sticky;
    left: 0;
    bottom: 0;
    padding: 0 16px;
    height: 56px;
    z-index: 2;
    border-top: 1px solid #c7c7c7;
}

.table-content-pagination-container {
    display: flex; 
}

.table-content-wrapper::-webkit-scrollbar {
	width: 10px;
    height: 10px;
}

/* Track */
.table-content-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.table-content-wrapper::-webkit-scrollbar-thumb {
	background: #b8bcc3;
}

.table__feature-cell {
    color: #0075c0;
    position: sticky;
    right: 0;
    background-color: white;
    z-index: 2;
    overflow: visible;
}

.table__feature-cell .triangle-dropdown {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0075c0;
    transform: translateY(-50%);
    margin-left: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.table__feature-cell #edit-text {
    cursor: pointer;
    font-weight: bold;
}

.table__feature-cell #edit-text:active, 
.table__feature-cell .triangle-dropdown:active{
    outline: 1px solid #0075c0;
}

.table-feature-list-container {
    position: absolute;
    z-index: 3;
    white-space: nowrap;
}

.table-feature-list {
    background-color: white;
    position: sticky;
    color: black;
    border: 1px solid #babec5;
    font-size: 13px;
}

.table-feature-list > div {
    padding: 6px 10px;
    transition: .25s;
}

.table-feature-list div:hover {
    background-color: #eceef1;
    color: #2ca01c;
    cursor: pointer;
}

.table__feature-container .textfield__input-wrapper {
    border-radius: 0;
}

.table__header-checkbox {
    position: sticky;
    left: 0;
    background-color: #eceef1;
    z-index: 1;
}

.table__header-feature {
    position: sticky;
    right: 0;
    background-color: #eceef1;
}

.table__checkbox-cell {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
}

thead input[type="checkbox"], tbody input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.row--checked {
    background-color: #E5F3FF;
}


.row--checked .table__feature-cell, .row--checked .table__checkbox-cell{
    background-color: #E5F3FF;
}

.row--checked td{
    background-color: #E5F3FF!important;
}


.table__feature-delete-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.table__feature-delete-container .drop-all {
    color: #E72C2C;
    cursor: pointer;
}

.table__feature-delete-container .select-all {
    color: #1565C0;
    cursor: pointer;
}

.table__settings {
    height: 100vh;
    background-color: white;
    position: fixed;
    width: 50%;
    z-index: 4;
    top: 0;
    right: 0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}


.table__settings--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 12px 16px;
}

.table__settings--header > p {
    color: #111;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.table__settings-feature--row {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 10px;
    align-items: center;
}

.table__settings-input-wrapper {
    display: flex;
    border: 1px solid #babec5;
    align-items: center;
    padding-right: 10px;
    border-radius: 2px;
}

.table__settings-input {
    height: 26px;
    outline: none;
    padding-left: 10px;
    border-radius: 2px;
    font-size: 13px;
    border: none;
}

.table__settings-input::placeholder {
    color: #9D9D9D;
    font-style: italic;
}

.table__settings-input-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat;
    background-position: -992px -360px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.table__settings--body {
    flex-grow: 1;
}

.table__settings--body table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    padding: 0 16px;
}

.table__settings--body table tbody tr {
    height: 30px;
    font-size: 13px;
}

.table__settings--body table tbody tr td{
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
}

.table__settings--body thead {
    background-color: #eceef1;
    font-size: 12px;
}

.table__settings-modify-btn {
    color: #0075c0;
    cursor: pointer;
}

.table__settings-divider {
    height: 4px;
    width: 100%;
    background: #f4f5f8;
}

.table__settings--footer {
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 10px 16px;
}

.table__settings-btn-group--right {
    display: flex;
    gap: 10px;
}

.table__settings--footer .button{
    min-width: auto;
    min-height: auto;
    height: 26px;
    width: 60px;
    border-radius: 3px;
    padding: 6px 16px;
    white-space: nowrap;
    font-weight: 600;
}

.setting-default-btn .button{
    width: 160px;
}

.table__settings-checbox-header {
    width: 50px;
}

.table__settings-table-container tbody .textarea-container {
    display: none;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 0 6px;
    border-radius: 2px;
    height: 26px;
    align-items: center;
}

.table__settings-table-container .editable .textarea-container {
    display: flex;
}

.table__settings-table-container tbody td textarea {
    resize: none;
    border: none;
    display: flex;
    height: 16px;
    overflow: hidden;
    outline: none;
    flex-grow: 1;
}

.table__settings-table-container tbody .textarea-container {
    width: 180px;
}

.table__settings-table-container tbody tr td:last-child .textarea-container {

    width: 80px;


}

.table__settings-table-container tbody .editable span {
    display: none;
}