
@import url("./base/dropdownlist.css");
@import url("./base/button.css");
@import url("./base/input.css");
@import url("./base//tooltip.css");
@import url("./base/dialog.css");
@import url("./base/pagination.css");
@import url("./layout/loading.css"); 
@import url("./layout/navbar.css");
@import url("./layout/sidebar.css");
@import url("./layout/content.css");
@import url("./components/table.css");
@import url("./base/toast.css");
@import url("./components/popup.css");
@import url("./base/filter.css");
@import url("./components/import_modal.css");


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Notosans Regular;
    font-size: 13px;
    background-color: #EEEFF1;
    overflow-x: hidden;

}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
}

.layout {
    display: flex;
    height: 100vh
}

.content-container {
    display: flex; 
    flex-direction: column;
    flex-grow: 1; 
    min-width: 0;
}


input[type="checkbox"], input[type="radio"] {
    accent-color: green;
}

@font-face {
    font-family: Notosans Semi;
    src: url("../../src/assets/font/notosans-semibold.df3e6dc4.woff2");
}

@font-face {
    font-family: Notosans Regular;
    src: url("../assets/font/notosans-regular.2cb88a13.woff2");
}

@font-face {
    font-family: Notosans Bold;
    src: url("../assets/font/notosans-bold.3ede5aff.woff2");
}

